@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: Magnat;
  src: url(../assets/Magnat-TextRegular.woff);
}
html[data-theme="light"] {
  --bg: #fff;
  --heading: #191919;
  --text: #5f5f5f;
  --fill: #5f5f5f;
  --filler: #f9f9f9;
  --primary-color: #0e6ffc;
}

html[data-theme="dark"] {
  --bg: #191919;
  --heading: #fff;
  --text: #e5e5e5;
  --fill: #595959;
  --filler: #000;
  --primary-color: #00AC68;
}
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: Magnat;
  color: var(--heading);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  font-family: Magnat;
}
body {
  background: var(--bg);
  font-family: "Lato";
  font-size: 17px;
  transition: 200ms linear;
  outline: none;
  position: relative;
}

hr {
  width: 30%;
  height: 1px;
  background: var(--text);
  margin: 24px 0px;
  border-style: none;
}

.main {
  max-width: 720px;
  padding: 100px 250px;

  h1 {
    font-size: 28px;
    color: var(--heading);
    font-family: Magnat;
  }

  p {
    color: var(--text);
    margin: 12px 0px 0px;

    a {
      color: var(--heading);
      padding: 0px 0px 4px;
      border-bottom: 1px solid var(--text);
      text-decoration: none;

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.projects {
  margin-bottom: 50px;
  padding: 0px 250px;

  h1 {
    font-size: 20px;
  }

  p {
    color: var(--text);
    margin: 12px 0px 0px;
  }

  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      width: 330px;
      height: 330px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      background: var(--fill);

      img {
        width: 100%;
        height: auto;
        transition: all 150ms ease 0s;
      }

      .overlay {
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        transition: all 200ms linear;
        background: #ffffff80;

        .text {
          position: absolute;
          bottom: 20px;
          padding: 20px;

          .head {
            color: var(--primary-color);
            font-size: 18px;
          }

          .subtitle {
            color: var(--fill);
            font-size: 14px;
          }
        }
      }

      &:hover .overlay {
        opacity: 1;
      }

      &:hover img {
        transform: scale(1.2);
      }
    }
  }
}

.blog-toast {
  position: fixed;
  margin-right: -1000px;
  opacity: 0;
  right: 20px;
  bottom: 50px;
  width: 350px;
  display: inline-block;
  transition: all 200ms ease-in-out 0s;
  padding: 40px;
  border-radius: 10px;
  background: var(--bg);

  h1 {
    font-size: 24px;
    color: var(--heading);
  }

  p {
    color: var(--text);
    line-height: 1.5;
    margin: 12px 0px 0px;
  }
}
.socials {
  margin-bottom: 50px;
  padding: 0px 250px;

  h1 {
    font-size: 20px;
  }

  p {
    color: var(--text);
    margin: 12px 0px 0px;
  }
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 40px;
    .card {
      width: 330px;
      height: 330px;
      color: var(--text);
      background-color: var(--filler);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 200ms linear;
&:hover{
  transform: scale(1.03);
}
      img {
        height: 40px;
        margin: 20px 0 15px 20px;
        width: 40px;
      }
      .title {
        font-size: 22px;
        margin: 18px;
        text-align: center;
       font-family: Magnat;
       color: var(--heading);
      }
      .dribble-btn{
        display: block;
        background-color: #ea4c89;
        color: #fff;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 25px;
        transition: 200ms linear;
        &:hover{
          background-color: #fff;
        color: #ea4c89;
        }
      }
      .twitter-btn{
        display: block;
        background-color: #00acee;
        color: #fff;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 25px;
        transition: 200ms linear;
        &:hover{
          background-color: #fff;
        color: #00acee;
        }
      }
      .github-btn{
        display: block;
        background-color: var(--heading);
        color: var(--bg);
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 25px;

      }
      .medium-btn{
        display: block;
        background-color: #00AC68;
        color: #fff;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 25px;
        transition: 200ms linear;
        &:hover{
          background-color: #fff;
        color: #00AC68;
        }
      }
    }
  }
}
.appear {
  opacity: 1;
  margin: 0;
}

@media only screen and (min-device-width: 0) and (max-device-width: 1000px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }

  .main,
  .projects,.socials {
    padding: 20px;
  }
  .projects {
    .container {
      padding: 20px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-x: scroll;
    }
  }

  .blog-toast {
    opacity: 1;
    width: 70%;
  }
  .nav {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: var(--filler);
    z-index: 2;
    .icon {
      height: 35px;
      width: 35px;
      fill: var(--fill);
      &:hover {
        fill: var(--primary-color);
      }
    }
  }
}
@media only screen and (min-device-width: 1000px) and (max-device-width: 10000px) {
  .nav {
    position: fixed;
    right: 50px;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    a {
      .icon {
        height: 45px;
        width: 45px;
        fill: var(--fill);
        transition: 200ms linear;
        margin-bottom: 15px;

        &:hover {
          transform: scale(1.1);
          fill: var(--primary-color);
        }
      }
    }
  }
}
