* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Degular Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  transition: 200ms ease;
}
@font-face {
  font-family: Recoleta;
  src: url(/fonts/RecoletaSemiBold.woff2);
  font-display: swap;
}
@font-face {
  font-family: Degular Display;
  src: url(/fonts/Degular-Medium.1d52003d.woff2);
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
$primary: #41416e;
$secondary-font: "Recoleta";
body {
  // background: url(https://lh3.googleusercontent.com/xmY30bzo1LERjEfZxzokxogphoYfg_wi9IVioFk62REfE4pP2XDUdgpzAuRG_HdiwCpD7YQ6Z5mg_7AHhjyj3BFBt9wv441DNO1aKNMBH71OdLQVvb9QUD0rpknyi2o5ny72gWWpm35Y4w5yoNolTQHq5wJRXBQiwDgoZTm0i8HnE0TSOu8bzpGOchP76ILXxapBTbS9uJzcsrFcT6A7syZCA4FW0-O07bxWwQjIv4ZpCTsBLt9hosWdbbMSc3VRSLKHd-38a0Nmbyq4x06d5L0qLVOVHNgCdHMQaaItUnp5MFAJ6K9sdID30qqXfeH9fpEWiKO68G0zvJKPq1LyUze-z3171amkaq-n4wc-2oppr8Mi_44nV6Vllxj3p7NQxyiOilQ2f8zAETk7yzwMVjYEgTMdyIzWQ8lv17Jad0Xx77t5e0ejOu0ez0f_ebwRZCwkgQo583sPV1tNJi9LMNHtD1JI6qLv1ag_epg6MjhnVYXoSo_C1kPRSIACCLJJh-zV7YVu6rwu5JQ-P0b4rgl6nWnd9vGu0lGf7W0Wb7HfZsb-cxOYxWs1ZO_hjCBaJDDkty6bOBVOB4O-zbTPWsXhpN1U1rKXGTSyzQMbm6eB-OokfHuJ1lTQo0IIJxyqoxJOqmahmnFyahHMqIMNrx46a1J5Z-gKo5IbxyfmsxFd36GPpRBo9p4srFbFeD_EOWwVWYvtGr3LRpo_tTHCVJE5KTdIiusfMnPawgg0dCv2_-jXshas4T2m6bNtn0xSSF8soPHGkXA1kXMAqLGkjZsIJyMoQqU7ATRSXDBoZm2sAvC897Jo5KbUW16gMXc8Np3hD7nsW1eFjV2drs561kn60z6k22NbsB3qCXz03965e7hf4qySZITxRtZU6tG-pxU9wxfbupBmq-HiWc7KT8_4NUrFGR0oBVxfinwlNDGIrDs6=w654-h537-s-no?authuser=0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 40px;
}
p {
  color: slategray;
}
a {
  text-decoration: none;
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #ffffff10;
  backdrop-filter: blur(35px);
  position: sticky;
  top: 0;
  left: 0;
  margin-bottom: 1em;
  z-index: 2;
  .logo {
    font-size: 30px;
    color: $primary;
    font-family: $secondary-font;
  }
  .links {
    .close {
      display: none;
    }
    a {
      text-decoration: none;
      color: slategray;
      margin-right: 16px;
      &:hover {
        color: $primary;
      }
    }
  }
  .menu {
    display: none;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  margin-bottom: 80px;
  .texts {
    flex: 2;
    padding: 80px;
    background: url(https://lh3.googleusercontent.com/xmY30bzo1LERjEfZxzokxogphoYfg_wi9IVioFk62REfE4pP2XDUdgpzAuRG_HdiwCpD7YQ6Z5mg_7AHhjyj3BFBt9wv441DNO1aKNMBH71OdLQVvb9QUD0rpknyi2o5ny72gWWpm35Y4w5yoNolTQHq5wJRXBQiwDgoZTm0i8HnE0TSOu8bzpGOchP76ILXxapBTbS9uJzcsrFcT6A7syZCA4FW0-O07bxWwQjIv4ZpCTsBLt9hosWdbbMSc3VRSLKHd-38a0Nmbyq4x06d5L0qLVOVHNgCdHMQaaItUnp5MFAJ6K9sdID30qqXfeH9fpEWiKO68G0zvJKPq1LyUze-z3171amkaq-n4wc-2oppr8Mi_44nV6Vllxj3p7NQxyiOilQ2f8zAETk7yzwMVjYEgTMdyIzWQ8lv17Jad0Xx77t5e0ejOu0ez0f_ebwRZCwkgQo583sPV1tNJi9LMNHtD1JI6qLv1ag_epg6MjhnVYXoSo_C1kPRSIACCLJJh-zV7YVu6rwu5JQ-P0b4rgl6nWnd9vGu0lGf7W0Wb7HfZsb-cxOYxWs1ZO_hjCBaJDDkty6bOBVOB4O-zbTPWsXhpN1U1rKXGTSyzQMbm6eB-OokfHuJ1lTQo0IIJxyqoxJOqmahmnFyahHMqIMNrx46a1J5Z-gKo5IbxyfmsxFd36GPpRBo9p4srFbFeD_EOWwVWYvtGr3LRpo_tTHCVJE5KTdIiusfMnPawgg0dCv2_-jXshas4T2m6bNtn0xSSF8soPHGkXA1kXMAqLGkjZsIJyMoQqU7ATRSXDBoZm2sAvC897Jo5KbUW16gMXc8Np3hD7nsW1eFjV2drs561kn60z6k22NbsB3qCXz03965e7hf4qySZITxRtZU6tG-pxU9wxfbupBmq-HiWc7KT8_4NUrFGR0oBVxfinwlNDGIrDs6=w654-h537-s-no?authuser=0);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 100%;
    h1 {
      font-size: 48px;
      color: #222;
      line-height: normal;
      margin-bottom: 0.5em;
      font-family: $secondary-font, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
      span {
        color: $primary;
        font-family: $secondary-font;
      }
    }
    p {
      line-height: 1.6em;
      margin-bottom: 1em;
      font-family: 20px;
    }
    button {
      padding: 15px 40px;
      margin-right: 16px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      cursor: pointer;
      font-size: 16px;
      box-shadow: 5px 5px $primary;
      background: transparent;
      border: 2px solid $primary;
      color: $primary;
      font-family: $secondary-font;
      &:hover {
        box-shadow: none;
      }
    }
  }
  .slider {
    flex: 1;
    height: 100%;
    .img-container {
      background-position: center;
      background-size: cover;
      height: 500px;
      width: 400px;
      border-radius: 8px;
    }
  }
}
.calender {
  margin-bottom: 80px;
  h1 {
    text-align: center;
    margin-bottom: 1em;
    font-family: "Recoleta", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
  img {
    border-radius: 8px;
  }
}
.testimonial {
  margin-bottom: 80px;
  background-position: center;
  h1 {
    font-family: $secondary-font;
    padding: 0;
    margin-bottom: 2em;
    text-align: center;
    flood-color: $primary;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 80px;
    .box {
      flex: 1;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 5px 50px rgba(0, 0, 0, 0.05);
      background-color: #fff;
      margin-bottom: 10px;
      cursor: pointer;
      p {
        line-height: 1.6em;
        margin-top: 0.5em;
        color: slategray;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
.active {
  border-bottom: 2px solid slategray;
}
footer {
  background: url(https://lh3.googleusercontent.com/xmY30bzo1LERjEfZxzokxogphoYfg_wi9IVioFk62REfE4pP2XDUdgpzAuRG_HdiwCpD7YQ6Z5mg_7AHhjyj3BFBt9wv441DNO1aKNMBH71OdLQVvb9QUD0rpknyi2o5ny72gWWpm35Y4w5yoNolTQHq5wJRXBQiwDgoZTm0i8HnE0TSOu8bzpGOchP76ILXxapBTbS9uJzcsrFcT6A7syZCA4FW0-O07bxWwQjIv4ZpCTsBLt9hosWdbbMSc3VRSLKHd-38a0Nmbyq4x06d5L0qLVOVHNgCdHMQaaItUnp5MFAJ6K9sdID30qqXfeH9fpEWiKO68G0zvJKPq1LyUze-z3171amkaq-n4wc-2oppr8Mi_44nV6Vllxj3p7NQxyiOilQ2f8zAETk7yzwMVjYEgTMdyIzWQ8lv17Jad0Xx77t5e0ejOu0ez0f_ebwRZCwkgQo583sPV1tNJi9LMNHtD1JI6qLv1ag_epg6MjhnVYXoSo_C1kPRSIACCLJJh-zV7YVu6rwu5JQ-P0b4rgl6nWnd9vGu0lGf7W0Wb7HfZsb-cxOYxWs1ZO_hjCBaJDDkty6bOBVOB4O-zbTPWsXhpN1U1rKXGTSyzQMbm6eB-OokfHuJ1lTQo0IIJxyqoxJOqmahmnFyahHMqIMNrx46a1J5Z-gKo5IbxyfmsxFd36GPpRBo9p4srFbFeD_EOWwVWYvtGr3LRpo_tTHCVJE5KTdIiusfMnPawgg0dCv2_-jXshas4T2m6bNtn0xSSF8soPHGkXA1kXMAqLGkjZsIJyMoQqU7ATRSXDBoZm2sAvC897Jo5KbUW16gMXc8Np3hD7nsW1eFjV2drs561kn60z6k22NbsB3qCXz03965e7hf4qySZITxRtZU6tG-pxU9wxfbupBmq-HiWc7KT8_4NUrFGR0oBVxfinwlNDGIrDs6=w654-h537-s-no?authuser=0);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px 0;
  .left {
    flex: 1;
    h1 {
      font-family: $secondary-font;
      color: $primary;
      font-size: 48px;
    }
  }
  .middle {
    flex: 1;
    p {
      line-height: 1.6em;
      color: $primary;
      margin-bottom: 2em;
      font-size: 20px;
    }
    .social {
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        text-decoration: none;
        font-size: 20px;
        color: slategray;
        &:hover {
          color: $primary;
          transform: scale(1.02);
        }
      }
      button {
        padding: 15px 40px;
        margin-right: 16px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 5px 5px $primary;
        background: transparent;
        border: 2px solid $primary;
        color: $primary;
        font-family: $secondary-font;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
  .right {
    flex: 1;
    h3 {
      text-align: center;
      margin-bottom: 0.5em;
    }
    .links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      a {
        text-decoration: 2px dashed;
        color: $primary;
        padding: 10px;
        font-size: 20px;
      }
    }
  }
}
@media only screen and (min-device-width: 0) and (max-device-width: 767px) {
  body {
    padding: 0;
  }
  .topnav {
    background: #fff;
    padding: 15px;
    margin-bottom: 0;
    .links {
      display: block;
      position: fixed;
      height: 100vh;
      width: 100%;
      top: 0;
      background: #fff;
      backdrop-filter: blur(35px);
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: translateY(-100%);
      .close {
        display: block;
        color: red;
      }
      a {
        font-size: 38px;
        margin-bottom: 0.5em;
      }
    }
    .menu {
      display: block;
      font-size: 30px;
      color: $primary;
    }
  }
  .hero {
    flex-direction: column;
    padding: 10px;
    .texts {
      width: 100%;
      padding: 20px;
      h1 {
        font-size: 40px;
      }
    }
    .slider {
      width: 100%;
      .img-container {
        padding: 10px;
        width: 100%;
        height: 200px;
      }
    }
  }
  .calender,
  .testimonial {
    padding: 10px;
    .container {
      flex-direction: column;
    }
  }
  footer {
    padding: 40px 20px;
    flex-direction: column-reverse;
    border-radius: 0;
    margin-bottom: 0;
    gap: 2em;
    align-items: center;
    text-align: center;
    .middle {
      p {
        font-size: 18px;
      }
    }
  }
}
