@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: Magnat;
  src: url(../assets/Magnat-TextRegular.woff);
}

html[data-theme="light"] {
  --bg: #fff;
  --heading: #191919;
  --text: #5f5f5f;
  --fill: #5f5f5f;
  --filler: #f9f9f9;
  --primary-color: #0e6ffc;
}

html[data-theme="dark"] {
  --bg: #191919;
  --heading: #fff;
  --text: #e5e5e5;
  --fill: #595959;
  --filler: #000;
  --primary-color: #00AC68;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Magnat;
  color: var(--heading);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-family: Magnat;
}

body {
  background: var(--bg);
  font-family: "Lato";
  font-size: 17px;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
  outline: none;
  position: relative;
}

hr {
  width: 30%;
  height: 1px;
  background: var(--text);
  margin: 24px 0px;
  border-style: none;
}

.main {
  max-width: 720px;
  padding: 100px 250px;
}

.main h1 {
  font-size: 28px;
  color: var(--heading);
  font-family: Magnat;
}

.main p {
  color: var(--text);
  margin: 12px 0px 0px;
}

.main p a {
  color: var(--heading);
  padding: 0px 0px 4px;
  border-bottom: 1px solid var(--text);
  text-decoration: none;
}

.main p a:hover {
  color: var(--primary-color);
}

.projects {
  margin-bottom: 50px;
  padding: 0px 250px;
}

.projects h1 {
  font-size: 20px;
}

.projects p {
  color: var(--text);
  margin: 12px 0px 0px;
}

.projects .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.projects .container .card {
  width: 330px;
  height: 330px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background: var(--fill);
}

.projects .container .card img {
  width: 100%;
  height: auto;
  -webkit-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

.projects .container .card .overlay {
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  background: #ffffff80;
}

.projects .container .card .overlay .text {
  position: absolute;
  bottom: 20px;
  padding: 20px;
}

.projects .container .card .overlay .text .head {
  color: var(--primary-color);
  font-size: 18px;
}

.projects .container .card .overlay .text .subtitle {
  color: var(--fill);
  font-size: 14px;
}

.projects .container .card:hover .overlay {
  opacity: 1;
}

.projects .container .card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog-toast {
  position: fixed;
  margin-right: -1000px;
  opacity: 0;
  right: 20px;
  bottom: 50px;
  width: 350px;
  display: inline-block;
  -webkit-transition: all 200ms ease-in-out 0s;
  transition: all 200ms ease-in-out 0s;
  padding: 40px;
  border-radius: 10px;
  background: var(--bg);
}

.blog-toast h1 {
  font-size: 24px;
  color: var(--heading);
}

.blog-toast p {
  color: var(--text);
  line-height: 1.5;
  margin: 12px 0px 0px;
}

.socials {
  margin-bottom: 50px;
  padding: 0px 250px;
}

.socials h1 {
  font-size: 20px;
}

.socials p {
  color: var(--text);
  margin: 12px 0px 0px;
}

.socials .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
}

.socials .cards .card {
  width: 330px;
  height: 330px;
  color: var(--text);
  background-color: var(--filler);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.socials .cards .card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.socials .cards .card img {
  height: 40px;
  margin: 20px 0 15px 20px;
  width: 40px;
}

.socials .cards .card .title {
  font-size: 22px;
  margin: 18px;
  text-align: center;
  font-family: Magnat;
  color: var(--heading);
}

.socials .cards .card .dribble-btn {
  display: block;
  background-color: #ea4c89;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.socials .cards .card .dribble-btn:hover {
  background-color: #fff;
  color: #ea4c89;
}

.socials .cards .card .twitter-btn {
  display: block;
  background-color: #00acee;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.socials .cards .card .twitter-btn:hover {
  background-color: #fff;
  color: #00acee;
}

.socials .cards .card .github-btn {
  display: block;
  background-color: var(--heading);
  color: var(--bg);
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
}

.socials .cards .card .medium-btn {
  display: block;
  background-color: #00AC68;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.socials .cards .card .medium-btn:hover {
  background-color: #fff;
  color: #00AC68;
}

.appear {
  opacity: 1;
  margin: 0;
}

@media only screen and (min-device-width: 0) and (max-device-width: 1000px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }
  .main,
  .projects, .socials {
    padding: 20px;
  }
  .projects .container {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow-x: scroll;
  }
  .blog-toast {
    opacity: 1;
    width: 70%;
  }
  .nav {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    background: var(--filler);
    z-index: 2;
  }
  .nav .icon {
    height: 35px;
    width: 35px;
    fill: var(--fill);
  }
  .nav .icon:hover {
    fill: var(--primary-color);
  }
}

@media only screen and (min-device-width: 1000px) and (max-device-width: 10000px) {
  .nav {
    position: fixed;
    right: 50px;
    top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .nav a .icon {
    height: 45px;
    width: 45px;
    fill: var(--fill);
    -webkit-transition: 200ms linear;
    transition: 200ms linear;
    margin-bottom: 15px;
  }
  .nav a .icon:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    fill: var(--primary-color);
  }
}
/*# sourceMappingURL=style.css.map */